@media only screen and (min-width: 1606px) and (max-width: 1920px) {
    .main-banner {
        padding-top: 400px;
    }
}

@media only screen and (min-width: 1370px) and (max-width: 1605px) {
    .container {
        max-width: 1320px;

        h1 {
            font-size: 50px !important;
            line-height: 60px;
        }

        h2 {
            font-size: 35px !important;
        }

        h3 {
            font-size: 30px !important;
        }

        p {
            font-size: 25px !important;
            line-height: 32px;
        }



    }

    .main-banner {
        padding-top: 290px;
        height: 100vh;

        h3 {
            font-size: 32px !important;
            margin-bottom: 50px;
        }

        .banner-contact {
            span {
                font-size: 22px;
            }
        }

        .enquire-now {
            padding: 30px;

            .btn {
                margin-top: 5px;
                font-size: 18px;

                img {
                    width: 20px;
                }
            }
        }

    }



    .director-bg {
        .director-box {
            p {
                font-size: 22px;
                line-height: 35px;
            }

            .director {
                width: 80%;
            }
        }


    }

    .director-info {
        padding-top: 120px;
        padding-bottom: 100px;

        p {
            margin-bottom: 20px !important;
        }
    }


    .active-content {
        h4 {
            font-size: 19px !important;
            padding-right: 16px;
        }

        h5 {
            font-size: 18px !important;
        }
    }

    .video-blog {
        .blog-events {
            height: 900px;

            .darwin-events {
                h3 {
                    span {
                        font-size: 20px;
                    }
                }

                a {
                    font-size: 22px;
                }


            }

            .event-box {
                h4 {
                    font-size: 22px;
                    line-height: 28px;
                    font-weight: 500;
                }

                p {
                    font-weight: 400;
                    line-height: 28px;
                    font-size: 18px !important;
                }
            }
        }

        .carousel {
            .active-video {
                height: 380px;
            }
        }
    }

    .infrastructure {
        .infrastructure-info {
            padding: 30px 15px 20px;
            background: #fefef3;
            border-top: 10px solid #fef2b1;
            border-radius: 20px;
            height: 300px;

            img {
                width: 80px;
            }

            h6 {
                font-size: 16px;
                margin-top: 40px;
            }
        }
    }

    .why-darwin {
        padding-top: 80px;
        padding-bottom: 80px;

        .darwin-speciality {
            padding: 28px;
            margin-bottom: 30px;

            img {
                width: 80px;
            }

            h4 {
                font-size: 22px;
                margin-bottom: 15px;
            }

            p {
                font-size: 18px !important;
                font-weight: normal;
                line-height: 22px;

            }
        }


        p {
            margin-bottom: 20px;
        }
    }

    .gallery-page {
        margin-top: -80px;

        .nav {
            margin-top: 20px;

            li {
                margin-right: 15px;
            }
        }

        h3 {
            span {
                font-size: 19px;
            }
        }
    }

    .teacher-darwin {
        padding-top: 80px;
        padding-bottom: 80px;

        h3 {
            font-size: 28px !important;
        }

        p.quote {
            font-size: 16px !important;
            line-height: 20px;
        }
    }

    .darwin-campus {
        padding-bottom: 360px;
        padding-bottom: 230px;
        background-position: center center;
    }

    .mt-custom {
        margin-top: 0;
    }

    .tech-enabled-classes {


        img {
            max-width: 80%;

        }

        p {
            margin-top: 20px;
        }

        .benefits-tips {
            h5 {
                font-size: 26px;
            }

            .activity-tags {
                .badge {
                    font-size: 18px;
                    margin-bottom: 15px;
                }
            }
        }
    }

    .safety-features {
        // img {
        //     height: 131px;
        // }

        h6 {
            font-size: 19px;
        }
    }

    .montessori-section {
        .absolute-right {
            width: 60%;
        }
    }

    .isce-container {
        h3 {
            margin-bottom: 30px;
        }

        h4 {
            font-size: 28px;
        }

        .button-row {
            margin-bottom: 50px;

            .btn {
                width: 180px;
                height: 50px;
                font-size: 20px;
                font-weight: 400;
            }
        }

        .isce-inner-container {
            .isce-box {
                height: 394px;

                h5 {
                    font-size: 22px;
                }
            }
        }
    }

    #contact-us {
        .director-box {}

        ul {
            display: flex;
            justify-content: space-between;

            li {
                flex: 1;

                .timing-box {
                    width: auto;
                    height: 110px;

                    h6 {
                        font-size: 18px;
                        margin-bottom: 10px;
                    }

                    p {
                        font-size: 14px !important;
                    }
                }
            }
        }

        address {
            padding: 30px;
        }
    }

    .slick-slide {
        img {
            border-radius: 15px;
        }
    }

    #registration {
        .director-box {
            .director {
                width: 520px;
            }
        }
    }

    footer {
        font-size: 18px;

        a {
            line-height: 35px;
        }
    }

    .terms {
        padding: 15px 0;

        a {
            font-size: 16px;
        }
    }
}

// iPad Landscape 
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {
    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 30px !important;
    }

    h3 {
        font-size: 28px !important;
    }

    p {
        font-size: 16px !important;
        line-height: 22px !important;
    }

    header .navbar .navbar-nav .nav-item .nav-link {
        margin-left: 8px;
        margin-right: 8px;
    }

    .main-banner {
        background-position: bottom right;

        h3 {
            font-size: 26px;
        }

        .banner-contact {
            span {
                font-size: 20px;
            }
        }

        .enquire-now {
            padding: 20px;

            h4 {
                font-size: 22px;
            }

            p {
                font-size: 14px !important;
                line-height: 16px;
                margin: 0;
                margin-bottom: 10px;
            }

            .btn {
                margin-top: 0;
            }
        }
    }

    .infrastructure {
        padding-top: 60px;
        padding-bottom: 60px;

        .infrastructure-info {
            padding: 15px;
            background: #f7f7f7;
            border-radius: 10px;
            height: 280px;

            h6 {
                margin-top: 30px;
                font-size: 15px;
                font-weight: normal;
                line-height: 20px;
                color: #666;
            }

            img {
                width: 80px;
            }
        }
    }

    .tech-enabled-classes {
        padding-top: 70px;
        padding-bottom: 70px;

        P {
            margin-top: 20px;
        }

        .activity-tags {
            .badge {
                font-size: 20px;
                font-size: 18px;
                margin-bottom: 10px;
            }
        }

        h5 {
            font-size: 24px !important;
        }
    }

    .director-bg {
        .director-box {
            padding-bottom: 50px;
            padding-top: 50px;

            .director {
                width: 70%;
                bottom: -62px;
            }
        }
    }

    .darwin-campus {
        background-position: center center;
        padding-bottom: 200px;
    }

    .mt-custom {
        margin-top: 0;
    }

    .teacher-darwin {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .director-info {
        padding-top: 100px;
        padding-bottom: 50px;

        p {
            margin-bottom: 20px !important;
        }
    }

    .why-darwin {
        padding-top: 80px;

        p {
            margin-bottom: 20px;
        }

        .first-box-mt {
            margin-top: 0;
        }

        .darwin-speciality {
            padding: 20px;
            margin-bottom: 20px;

            img {
                width: 100px;
            }

            h4 {
                font-size: 22px;
                margin-top: 10px;
                margin-bottom: 10px;
            }

            p {
                font-weight: 400;
            }
        }
    }

    .video-blog {
        .carousel {
            .active-video {
                height: 300px;
            }
        }

        .blog-events {
            padding: 20px;
            height: 600px;

            .event-box {
                h4 {
                    font-size: 20px;
                    line-height: 26px;
                }
            }

            .darwin-events {
                h3 {
                    span {
                        font-size: 18px;
                    }
                }
            }
        }
    }

    .gallery-page {
        margin-top: 50px;

        .nav {
            li {
                margin-right: 15px;
            }
        }
    }

    .slick-slider .slick-slide.slick-current .active-content h4,
    .slick-slider .slick-slide.slick-center .active-content {
        img {
            border-radius: 10px;
        }

        h4 {
            font-size: 20px;
        }

        h5 {
            font-size: 16px;
        }
    }

    .safety-features {
        img {
            width: 100px;
        }

        h6 {
            font-size: 19px;
        }
    }



    .montessori-section {
        .absolute-right {
            width: 75%;
        }
    }

    .isce-container {
        h3 {
            margin-bottom: 25px;


        }

        h4 {
            font-size: 26px;
            margin-bottom: 30px;
        }

        .button-row {
            margin-bottom: 30px;

            .btn {
                font-size: 18px;
                width: 155px;
                height: 50px;
            }
        }

        .isce-inner-container {
            .isce-box {
                min-height: auto;

                h5 {
                    font-size: 20px;
                }
            }
        }
    }

    .two-teachers {
        h4 {
            font-size: 24px;
            margin-bottom: 15px;
        }

        img {
            margin-top: 0;
        }
    }

    #contact-us {
        .opening-hours {
            h4 {
                font-size: 28px !important;
                margin-bottom: 15px;
            }
        }

        ul {
            justify-content: start;
            margin-top: 30px;

            li {
                .timing-box {
                    margin-bottom: 15px;

                    h6 {
                        font-size: 18px;
                    }

                    p {
                        font-size: 14px;
                    }
                }
            }
        }

        address {
            padding: 20px;

            p {
                font-size: 15px !important;
                font-weight: normal;
                ;
            }
        }
    }

    footer {
        h4 {
            font-size: 24px;
        }


        a {
            line-height: 24px;
            font-size: 18px;
        }

        p {
            line-height: 26px !important;
        }
    }
}

// iPad Portrait

@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {
    h1 {
        font-size: 37px;
    }

    h2 {
        font-size: 40px
    }

    header {
        .navbar-collapse {
            background: #ffc107;


            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            .btn {
                background: #fff;
                margin-left: 15px;
                margin-bottom: 20px;
            }
        }
    }

    .main-banner {
        padding-top: 240px;
        background-size: cover;
        background-position: right bottom;
        height: 100vh;

        h3 {
            font-size: 30px;
            margin-bottom: 20px;
        }

        .banner-contact {
            span {
                font-size: 22px;
            }
        }

        .enquire-now {
            margin-top: 40px;
        }
    }

    .director-bg {
        .director-box {
            h3 {
                font-size: 32px;

                span {
                    font-size: 24px;
                }
            }

            p {
                font-size: 22px;
            }
        }
    }

    .montessori-section {
        p {
            font-size: 18px;
            line-height: 26px;
        }

        .absolute-right {
            width: auto;

        }

        h6 {
            font-size: 19px;
        }

    }

    .isce-container {
        .button-row {
            .btn {
                font-size: 20px;
                flex: 1;
                line-height: 24px;
                height: 60px;
            }
        }

        h4 {
            font-size: 28px;
        }

        .isce-inner-container {
            .isce-box {
                min-height: auto;
                padding: 20px;

                h5 {
                    font-size: 20px;
                }

                p {
                    font-size: 18px;
                    line-height: 22px;
                }
            }
        }
    }

    .two-teachers {
        margin-top: 40px;

        h4 {
            font-size: 24px;
        }

        p {
            font-size: 19px;
            line-height: 24px;
        }

        img {
            margin-top: 0;
        }
    }

    .mt-custom {
        margin-top: 0;
    }

    .tech-enabled-classes {
        padding-top: 50px;
        padding-bottom: 50px;

        h3 {
            font-size: 30px;
        }

        p {
            font-size: 19px;
            line-height: 24px;
            margin-top: 15px;
        }

        .benefits-tips {
            h5 {
                font-size: 24px;
            }

            .activity-tags {
                .badge {
                    margin-bottom: 10px;
                }
            }
        }
    }

    .safety-features {
        h3 {
            margin-bottom: 50px;
            font-size: 30px;
        }

        img {
            width: 110px;
        }
    }

    .big-font {
        font-size: 20px;
        line-height: 28px;

        p {
            margin-bottom: 15px !important;
        }
    }

    #contact-us {
        ul {


            li {
                margin-right: 0;

                .timing-box {
                    height: 120px;
                    width: 95px;
                }
            }
        }
    }

    .darwin-life-bg {
        background-size: cover;
        margin-bottom: 0;
        height: auto;

        p {
            padding-top: 30px;
            padding-top: 300px;
        }

        h1 {
            font-size: 28px;
            line-height: 26px;
        }
    }

    .darwin-campus {
        background-position: center center;

        h2 {
            font-size: 30px;
        }

        padding-bottom: 250px;

        p {
            font-size: 19px;
            line-height: 25px;
        }
    }

    .teacher-darwin {
        padding-top: 60px;
        padding-bottom: 60px;

        .left-align-img {
            width: 90%;
        }
    }

    .darwin-learning {}

    .director-info {
        padding-top: 100px;
        padding-bottom: 60px;
    }

    .why-darwin {
        padding-top: 20px;

        h2 {
            font-size: 40px;
        }

        p {
            margin-bottom: 20px;
        }

        .first-box-mt {
            margin-top: 0;
        }

        .darwin-speciality {
            margin-bottom: 30px;
        }
    }

    .video-blog {
        .carousel {
            .active-video {
                height: 350px;
            }
        }

        .blog-events {
            margin-top: 50px;

            .event-box {
                img {
                    width: 100%;
                }
            }
        }

    }

    .gallery-page {
        margin-top: 50px;

        .nav {
            display: flex;
            justify-content: space-between;
            width: 100%;

            li {
                margin-right: 0;

            }
        }
    }

    .slick-slider .slick-slide.slick-current .active-content h4,
    .slick-slider .slick-slide.slick-center .active-content {
        h4 {
            font-size: 20px;
        }

        h5 {
            font-size: 18px;
        }
    }

    footer {
        font-size: 18px;

        a {
            line-height: 28px;
        }

        p {
            line-height: 28px;
        }
    }

    .terms {
        padding-top: 15px;
        padding-bottom: 15px;

        a {
            font-size: 16px;
        }
    }
}




// Mobile media queries

@media only screen and (max-width: 767px) {
    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 30px !important;
    }

    h3 {
        font-size: 28px !important;
    }

    .big-font {
        font-size: 18px;
        line-height: 25px;
    }

    header {
        h1 {
            font-size: 40px;
        }

        .navbar-collapse {
            background: #ffc107;


            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            .btn {
                background: #fff;
                margin-left: 15px;
                margin-bottom: 20px;
            }
        }
    }

    .main-banner {
        height: auto;
        padding-top: 250px;
        background-position: right top;
        background-color: rgba(251, 210, 76, 1);

        h3 {
            font-size: 22px !important;
        }

        .enquire-now {
            padding: 20px;
            margin-top: 40px;

            h4 {
                font-size: 22px;
            }

            .btn {
                margin-top: 0;
            }
        }


        .banner-contact {
            span {
                display: block;
                font-size: 18px;
                margin-bottom: 10px;
            }
        }



    }

    .director-bg {
        .director-box {
            padding-top: 50px;
            padding-bottom: 50px;

            &::after {
                display: none;
            }

            .director {
                position: static;
            }

            h3 {
                margin-bottom: 15px;

                span {
                    font-size: 20px;
                }
            }

            p {
                font-size: 18px;
            }
        }
    }

    .infrastructure {
        h2 {
            margin-bottom: 40px;
        }

        .infrastructure-info {
            background: rgba(251, 210, 76, 0.1);
            max-width: 100%;
            height: auto;
            margin-bottom: 15px;

            h6 {
                margin-top: 25px;
                font-size: 16px;
            }

            img {
                width: 100px;
            }
        }
    }

    .why-darwin {
        padding-top: 0 !important;

        p {
            font-size: 18px;
            line-height: 26px;
            margin-bottom: 20px;
        }

        .first-box-mt {
            margin-top: 20px;
        }

        .darwin-speciality {
            padding: 20px;
            display: flex;
            align-items: center;
            margin-bottom: 30px;



            div {
                margin-left: 20px;

                h4 {
                    font-size: 20px;
                    margin-top: 0;
                    margin-bottom: 10px;
                }

                p {
                    font-size: 16px;
                    line-height: 22px;
                    font-weight: normal;
                }
            }
        }
    }

    .teacher-darwin {
        padding-bottom: 60px;
        padding-top: 60px;

        .left-align-img {
            position: static;
        }

        .container {
            h3 {
                padding-top: 50px;
                margin-bottom: 20px;
            }

            p.quote {
                margin-bottom: 30px;
                font-size: 16px;
                line-height: 20px;

                span {
                    margin-top: 15px;
                }
            }
        }
    }

    .director-info {
        padding-top: 60px;
        padding-bottom: 60px;

        p {
            margin-bottom: 20px !important;
        }
    }

    .parents-darwin {
        padding-bottom: 140px;
        padding-top: 80px;
    }

    .about-heading {
        font-size: 32px;
    }



    #registration {
        .director-box {
            padding-bottom: 40px;
        }
    }

    .admission-modal {
        .modal-content {
            .modal-body {
                h3 {
                    font-size: 30px;
                    margin-bottom: 20px;
                }

                p {
                    font-size: 20px;
                    line-height: 25px;
                    margin-bottom: 20px;
                }
            }
        }
    }

    .darwin-life-bg {
        padding-bottom: 40px;
        height: auto;

        h1 {
            font-size: 32px;
            line-height: 40px;
            // padding-top: 250px;
            font-weight: normal;

            span {
                margin-bottom: 10px;
            }
        }

        p {
            font-size: 18px;
            padding-top: 300px;
        }
    }

    .darwin-campus {
        padding-bottom: 40px;
        background-image: none;
        background-color: rgba(251, 210, 76, 1);

        h2 {
            margin-bottom: 20px;
        }

        p {
            font-size: 18px;
        }
    }

    .tech-enabled-classes {
        padding-top: 60px;
        padding-bottom: 60px;
        margin-top: 0;

        h3 {
            font-size: 36px;
        }

        p {
            font-size: 18px;
            line-height: 24px;
            margin-top: 20px;
        }

        .activity-tags {
            .badge {
                font-size: 16px;
                margin-bottom: 10px;

                padding: 13px 20px;
            }
        }

        .benefits-tips {
            margin-top: 40px;

            h5 {
                font-size: 25px;
            }
        }
    }

    .darwin-learning {
        height: auto;
        padding-bottom: 80px;

        h1 {
            padding-top: 250px;
        }
    }

    .montessori-section {
        h3 {
            line-height: 38px;
            margin-bottom: 20px !important;
        }

        p {
            font-size: 18px;
            line-height: 25px;
            margin-bottom: 20px;
        }

        .absolute-right {
            width: 100%;
            margin-top: 30px;
        }
    }

    .isce-container {
        h3 {
            margin-bottom: 20px;
        }

        h4 {
            font-size: 22px;
        }

        .button-row {
            flex-wrap: wrap;
            margin-bottom: 50px;

            .btn {
                width: 48%;
                margin-bottom: 15px;
                font-size: 18px;
                height: 50px;
            }
        }

        .isce-inner-container {
            .isce-box {
                min-height: auto;
                padding: 20px;

                h5 {
                    font-size: 20px;
                    margin-bottom: 20px;
                }

                p {
                    font-size: 18px;
                    line-height: 25px;
                }
            }
        }
    }

    .two-teachers {
        h4 {
            font-size: 22px;
        }

        p {
            font-size: 18px;
            line-height: 25px;
        }
    }

    .safety-features {
        .col-12 {
            display: flex;
            align-items: center;

            img {
                width: 80px;
                margin-right: 40px;
            }
        }

        h3 {
            margin-bottom: 50px;
        }

        padding-top: 60px;
        padding-bottom: 60px;

        h6 {
            margin-top: 30px;
            margin-bottom: 50px;
            font-size: 18px;
            text-align: left;

            br {
                display: none;
            }
        }
    }

    .montessori-section {
        text-align: left;

        .absolute-right {
            position: static;
        }
    }

    .about-bg {

        h1 {
            font-size: 34px !important;
        }
    }

    .infrastructure,
    .why-darwin {
        padding-top: 50px;
        padding-bottom: 50px;

        h2 {
            font-size: 40px;
        }

    }




    .video-blog {
        .carousel {
            .active-video {
                height: 300px;
            }

            .carousel-control-prev,
            .carousel-control-next {
                width: 18%;
                margin-top: 0;
            }
        }

        .blog-events {
            margin-top: 40px;
            padding: 20px;
            margin-bottom: 40px;

            .darwin-events {
                h3 {
                    span {
                        font-size: 16px;
                    }
                }

                a {
                    font-size: 20px;
                }
            }

            .event-box {
                h4 {
                    font-size: 20px;
                    line-height: 26px;
                    font-weight: 500;
                }

                p {
                    font-size: 18px;
                    line-height: 23px;
                }
            }
        }
    }


    .gallery-page {
        margin-top: 40px;

        h3 {
            span {
                line-height: 26px;
                margin-top: 20px;
            }
        }

        .nav {
            width: 75%;

            li {
                margin-bottom: 10px;
            }
        }

        .view-all {
            font-size: 18px;
        }
    }

    #contact-us {
        ul {
            justify-content: space-between;
            margin-bottom: 40px;

            li {
                width: 32%;
                margin-right: 0;

                .timing-box {
                    width: 100%;
                    margin-bottom: 10px;
                }
            }
        }

        .director-box {
            .opening-hours {
                h4 {
                    font-size: 26px;
                }

                p {
                    font-size: 18px;
                }
            }
        }

        address {
            padding: 20px;

            p {
                font-size: 17px !important;
                line-height: 22px;

                span {
                    margin-bottom: 10px;
                }
            }
        }
    }

    footer {
        padding-top: 60px;
        padding-bottom: 60px;

        a,
        p {
            font-size: 18px;
            line-height: 30px !important;
        }

        h4 {
            margin-top: 40px;
        }

        ul {
            margin-bottom: 0;

            li {
                line-height: 22px;
            }
        }
    }

    .terms {
        padding-top: 10px;
        padding-bottom: 10px;

        a {
            font-size: 15px;
        }

        .nav {
            justify-content: center;
            margin-bottom: 5px;
        }

        .social-footer {
            a {
                margin: 0 5px;
            }
        }
    }

    .slick-slider .slick-slide {
        width: 300px !important;
        margin: 0;

        h4 {
            font-size: 16px !important;
        }

        h5 {
            font-size: 14px !important;
        }

    }

    .slick-slider .slick-slide.slick-current,
    .slick-slider .slick-slide.slick-center {
        width: 300px !important;
    }
}

@media only screen and (max-width: 360px) {
    .navbar-brand {
        width: 60%;

        img {
            width: 100%;
        }
    }

    .about-bg {
        h1 {
            font-size: 28px !important;
        }
    }
}